@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

  a:hover {
    color: red;
  }
}

body {
  color: #ededed;
  background-color: #03121d;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #1a1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar a {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
}

.navbar a:hover {
  color: #f2f6f7;
}

.Home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  /* background: url(Image/Purple\ Illustrated\ Mountain\ Desktop\ Wallpaper.png); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
  margin-bottom: 50px;
  margin-left: 50px;
}

.Home-content {
  width: 600;
}

.Home-content h1 {
  font-size: 50px;
  font-weight: 700;
  margin: -3px 0;
}

.Home-content h3 {
  font-size: 32;
  font-weight: 700;
}

.Home-content p {
  font-size: 20px;
  opacity: 0;
  animation: slideLeft 0.5s ease forwards;
  animation-delay: 1s;
}

.home-section a {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid rgb(202, 209, 209);
  border-radius: 50%;
  color: rgb(242, 247, 243);
  text-decoration: none;
  margin: 30px 15px 30px 0px;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.home-section a:hover {
  background: #0ef;
  color: black;
  box-shadow: 0 0 20px rgb(0, 255, 85);
}

.Photo-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 170px;
}
.photo-about {
  margin-left: 100px;
  height: 400px;
  width: 400px;
}
.nasiro-photo img {
  width: 90%;
  height: 500px;
  border-radius: 100%;
  transition: transform 0.3s ease-in-out;
  margin-left: 6px;
  margin-left: 6px;
  margin-bottom: 5px;
}

.button-box {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 28px;
  background: rgb(0, 255, 55);
  border-radius: 40px;
  font-size: 16px;
  color: black;
  letter-spacing: 1px;
  font-weight: 600;
  text-decoration: none;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
}

.button-box:hover {
  box-shadow: 0 0 58px rgb(0, 255, 85);
}

.Home-content h3 span {
  color: rgb(218, 227, 228);
}

.Home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
}

.About {
  display: grid;
  grid-template-columns: 30rem 1fr;
  align-items: center;
  gap: 1.5rem;
  height: 100px;
}

.nasir-photo img {
  padding: 20%;
  /* max-width: 630px; */
  height: 48rem;
  width: 96%;
  border-radius: 8px;
}

.about-text {
  margin-right: 20px;
  align-items: center;
  margin-left: 8px;
  padding-left: 10px;
}

.about-text h2 {
  font-size: 40px;
  align-items: center;
}

.about-text h2 span {
  color: #0ef;
  align-items: center;
}

.about-text h4 {
  font-size: 25px;
  font-weight: 600px;
  color: white;
  line-height: 1.2px;
  margin: 15px 0px 30px;
}

.about-text p {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 0px;
  margin-right: 25px;
  font-family: century;
  align-items: center;
}

@keyframes animateTop {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 -10px;
  }
}

.about-text:hover {
  border: 1px solid aqua;
  background-color: #198754;
  cursor: pointer;
  animation: animateTop 0.5s infinite;
  box-shadow: 0 0 5px aqua, 0 0 10px aqua, 0 0 5px aqua, 0 0 15px aqua;
}

#Service {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 649px;
}

.Sub-title {
  text-align: center;
  font-size: 30px;
  padding-bottom: 60px;
  padding-top: 30px;
}

.Sub-title span {
  color: rgb(152, 181, 184);
}

.Service-Container {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.Service-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(259px, 1fr));
  grid-gap: 40px;
  /* margin-top: 566px; */
}

.Service-list div {
  background-color: transparent;
  padding-top: 40px;
  font-size: 13px;
  font-weight: normal;
  border-right: 1px solid black;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #012290f7;
  height: 400px;
  align-items: center;
  text-align: center;
  width: 90%;
}

.Service-list div {
  background-color: transparent;
  padding: 25px;
  text-align: center;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #012290f7;
}

.Service-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.Service-list div h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
}

.Service-list div p {
  margin-bottom: 15px;
}

.Service-list div a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  display: inline-block;
}

.Service-list div .read {
  display: block;
  margin-top: 15px;
  padding: 12px 20px;
  background-color: #0ef;
  border-radius: 40px;
  font-size: 10px;
  color: black;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: 2s;
  box-shadow: 0px 0px 5px rgb(0, 255, 64);
  width: 30%;
  margin-left: 150px;
  margin-top: 35px;
}

.Service-list div .read:hover {
  background: #0ef;
  color: black;
  box-shadow: 0 0 20px #0ef;
}

.Service-list div:hover {
  transform: translateY(-10px);
}

.Skill-conatiner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 50px;
}

.Container1 {
  width: 600px;
  height: 500px;
  padding: 75px 90px;
  margin-left: 60px;
}

.heading1 {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin-bottom: 50px;
}

.bar {
  font-size: 23px;
}

.Technical-bars .bar {
  margin-top: 40px 0px;
}

.Technical-bars .bar:first-child {
  margin-top: 0px;
}

.Technical-bars .bar:last-child {
  margin-bottom: 0px;
}

.Technical-bars .bar .info {
  margin-bottom: 5px;
}

.Technical-bars .bar .info span {
  font-size: 17px;
  font-weight: 500;
  animation: ShowText 0.5s 1s linear forwards;
  opacity: 0;
}

.Technical-bars .bar .Prograss-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 2s cubic-bezier(1, 0, 0, 1) forwards;
}

@keyframes ShowText {
  100% {
    opacity: 1;
  }
}

@keyframes animate {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

.Technical-bars .bar .Prograss-line span {
  height: 100%;
  background-color: #0ef;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate-progress 2s cubic-bezier(1, 0, 0, 1) forwards;
}

.Prograss-line.html span {
  width: 90%;
}

.Prograss-line.css span {
  width: 80%;
}

.Prograss-line.javascript span {
  width: 50%;
}

.progress-line.mysql span {
  width: 54%;
}

.Prograss-line.python span {
  width: 64%;
}

.Prograss-line.csharp span {
  width: 80%;
}

.Prograss-line.c span {
  width: 88%;
}

.Prograss-line span::after {
  position: absolute;
  padding: 1px 8px;
  background-color: black;
  color: white;
  font-size: 12px;
  border-radius: 3px;
  top: -28px;
  right: -20px;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}

.Prograss-line.html span::after {
  content: "90%";
}

.Prograss-line.css span::after {
  content: "80%";
}

.Prograss-line.javascript span::after {
  content: "50%";
}

.Prograss-line.mysql span::after {
  content: "54%";
}

.Prograss-line.python span::after {
  content: "64%";
}

.Prograss-line.csharp span::after {
  content: "76%";
}

.Prograss-line.c span::after {
  content: "88%";
}

.Prograss-line span::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: black;
  top: -10px;
  right: 0px;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

@keyframes animate-progress {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

.radial-bars {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.radial-bars .radial-bar {
  width: 50%;
  height: 170px;
  margin-bottom: 10px;
  position: relative;
}

.radial-bars .radial-bar svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 120px;
  height: 160px;
}

.radial-bars .radial-bar .progress-bar {
  stroke-width: 10;
  stop-color: black;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
  animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
  100% {
    stroke-dashoffset: -1;
  }
}

.path {
  stroke-width: 10;
  stroke: rgb(72, 255, 0);
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
}

.path-1 {
  animation: animate-path-1 1s 1s linear forwards;
}

.path-1 {
  animation: animate-path-2 1s 1s linear forwards;
}

.path-1 {
  animation: animate-path-3 1s 1s linear forwards;
}

.path-1 {
  animation: animate-path-4 1s 1s linear forwards;
}

@keyframes animate-path-1 {
  100% {
    stroke-dashoffset: 80;
  }
}

@keyframes animate-path-2 {
  100% {
    stroke-dashoffset: 70;
  }
}

@keyframes animate-path-3 {
  100% {
    stroke-dashoffset: 90;
  }
}

@keyframes animate-path-4 {
  100% {
    stroke-dashoffset: 76;
  }
}

.radial-bar .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}

.radial-bar .text {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: -5px;
  transform: translate(-50%);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}

.main-text {
  padding-top: 30px;
  margin-top: 20px;
}

.main-text h2 {
  font-size: 40px;
  line-height: 1;
  text-align: center;
  color: rgb(0, 255, 106);
}

.project {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(Image/nature.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background: #03121d;
}

.projct .head-project {
  width: 100px;
  height: fit-content;
  /*  border-top: 2px solid gray;*/
  padding: 0.5rem 1rem;
  text-align: center;
  padding-top: 3rem;
}

.project .head-project h1 {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: century;
  margin: 0px;
  padding: 0.4rem auto;
  color: #0ef;
}

.project-skill {
  text-align: center;
  padding-top: 30px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  min-width: 15rem;
  column-gap: 4rem;
  row-gap: 3rem;
  margin-top: 2.5rem;
  padding: 1.5rem;
  height: fit-content;
}

.values {
  color: white;
  text-align: center;
  padding: 0.4rem 2rem;
}

.values:hover {
  animation: slideTop 0.4s ease forwards;
  background-color: orange;
  border: 1px solid #0ef;
  box-shadow: 0 0 5px aqua, 0 0 10px aqua, 0 0 15px aqua;
}

.values img {
  width: 150px;
  height: 150px;
  border-radius: 60%;
  margin-bottom: 0.5rem;
}

.values p {
  line-height: 1.5rem;
  font-size: 1.2rem;
  text-align: justify;
}

.values h2 {
  margin-bottom: 0.6rem;
}

.Contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-left: 30px;
  margin-top: 80px;
}

.Contact h2 {
  font-size: 40px;
  line-height: 1;
  text-align: center;
}

.Contact h2 span {
  color: #0ef;
}

.Contact-text {
  margin: 0 auto;
  max-width: 750px;
}

.Contact-text h4 {
  margin: 15px 0px;
  color: rgb(228, 228, 228);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.Contact-text p {
  color: rgb(177, 177, 177);
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 2rem;
}

.Contact-list {
  margin-bottom: 0px;
}

.Contact-list li {
  margin-bottom: 10px;
  display: block;
}

.Contact-list i {
  display: inline-block;
  color: #0ef;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.4s ease;
}

.Contact-list li a:hover {
  transform: scale(1.1) translateY(-5px);
  color: #0ef;
}

.Contact-form {
  position: relative;
  max-width: 730px;
}

.send {
  max-width: 100px;
  text-align: center;
}

.Contact-form form input,
.Contact-form form textarea {
  border: none;
  outline: none;
  width: 90%;
  padding: 18px;
  background: #555557;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.Contact-form textarea {
  resize: none;
  height: 150px;
}

.Contact-form form .send {
  display: inline-block;
  padding: 14px 60px;
  background-color: #0ef;
  border-radius: 40px;
  font-size: 10px;
  color: black;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: 2s;
  box-shadow: 0px 0px 5px #0ef;
  width: 50%;
  align-items: center;
  text-align: center;
}

.Contact-form form .send:hover {
  box-shadow: 0px 0px 5px #0ef;
  opacity: 1;
  /* Adjusted for visibility */
  cursor: pointer;
}

.last-text {
  width: 100%;
  text-align: center;
  padding: 25px 0px;
  background: rgb(7, 85, 91);
  font-weight: 300;
  margin-top: 70px;
}

.top {
  position: fixed;
  bottom: 2.1rem;
  right: 2.1rem;
}

.top box-icon {
  color: black;
  background: rgb(255, 0, 191);
  font-size: 20px;
  padding: 10px;
  border-radius: 0.5rem;
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.contact-container {
  width: 566px;
  height: 460px;
}
.bx {
  color: white;
  width: 30px;
  height: 30px;
}

.bx:hover {
  color: #4b7ad8;
}

.social-media {
  position: absolute;
  left: 20px;
}
